@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  align-content: center;

}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  margin: 8px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin: 12px;
}

.header {
  flex: none;
  justify-content: space-between;
  align-items: center;
  display: flex;
  width: 100%;
}

.footer {
  background-color: #eeee;
  flex: none;
  justify-content: space-between;
  align-items: center;
  display: flex;
  width: 100%;
}

ul {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  margin: 0;
  padding: 16px;
  gap: 16px;
}

li {
  justify-content: center;
  align-items: center;
}

a { 
  text-decoration: none;
  color: grey;
}