/* Add CSS Styling */

#id-1 {
    color: blue;
    font-size: 36px;
}

#id-2 {
    font-weight: bold;
    background-color: green;
    font-size: 24px;
}

.class-1 {
    background-color: #e22674;
    font-family: verdana, DejaVu Sans, sans-serif;
}

.class-2 {
    font-size: 24px;
}