body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  height: 72px;
  background: darkmagenta;
  color: white;
  flex-shrink: 0;
  align-items: center;
  padding: 16px;
  font-size: 50px;
  font-weight: bolder;
}

.footer {
  display: flex;
  height: 72px;
  background: #eee;
  color: darkmagenta;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
  flex-direction: row;
  flex: 1;
  
}

.menu {
  display:flex;
  flex-direction: row;
  gap: 16px;
  margin: 16px;
  flex-wrap: wrap;

}

.sidebar {
  width: 300px;
  background: royalblue;
  box-sizing: border-box;
  flex-shrink: 0;
  font-size: x-large;
  font-weight: bold;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  height: 350px;
  width: 350px;
  padding: 30px;
  font-size: large;
}

a {
  text-decoration: none;
  color: white;
}