.header  {
  display: flex;
  font-family: monospace;
  background: papayawhip;
  flex-direction: row;
  align-items: center;
  height: 80px;
}

.logo {
  font-size: 48px;
  font-weight: 900;
  width: fit-content;
  height: 60px;
  color: tomato;
  background: white;
  padding: 4px 32px;
  flex: none;
  margin: auto;
  align-self: center;
  justify-self: center;
  text-align: center;
}

.left-links,
.right-links {
  display: flex;
  flex: none;
  gap: 8px
}


.right-links div,
.left-links div {
  flex: content;
}

a {
  font-size: 22px;
  background: white;
  padding: 8px;
  /* this removes the line under the links */
  text-decoration: none;
}