body {
  background: #eee;
  font-family: sans-serif;
  font-size: 16px;
}

.card {
  width: 400px;
  background: #fff;
  margin: 8px auto;
  padding: 8px
}

.title {
  background: #e3f4ff;
  padding: 8px;
  font-size: 16px;
}

.content {
  background: #e3f4ff;
  padding: 8px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.button-container {
  display: block;
  background: #e3f4ff;
  text-align: center;
  padding: 8px;
  margin-top: 8px;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  margin: 0 auto;
  padding: 8px;
  padding-left: 16px;
  padding-right: 16px;
}